{
    "env": {
      "browser": true,
      "es2021": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": "latest",
      "sourceType": "module"
    },
    "plugins": [
      "react",
      "@typescript-eslint",
      "prettier"
    ],
    "rules": {
      "prettier/prettier": [
        "error",
        {
          "tabWidth": 4
        }
      ],
      "indent": ["error", 4], // Set ESLint to use 4 spaces for indentation
      // Add any additional rules here
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    }
  }
  